<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="sortChange($event)"
>
  <ng-container
    *ngFor="let col of tableColumns; let i = index"
    [matColumnDef]="col.title"
  >
    <ng-container *ngIf="col.sortable">
      <th [mat-sort-header]="col.key" mat-header-cell *matHeaderCellDef>
        <span>{{ col.title }}</span>
        <nrp-table-filter *ngIf="col.columnType" [column]="col"></nrp-table-filter>
      </th>
    </ng-container>

    <ng-container *ngIf="!col.sortable">
      <th mat-header-cell *matHeaderCellDef>
        {{ col.title }}
        <nrp-table-filter *ngIf="col.columnType" [column]="col"></nrp-table-filter>
      </th>
    </ng-container>

    <ng-container *ngIf="col.key === 'actions'">
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [mat-menu-trigger-for]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            *ngFor="let action of rowActions"
            (click)="action.action(row)"
            [disabled]="isDisabled(row, action)"
          >
            {{ action.title }}
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <ng-container *ngIf="col.key !== 'actions'">
      <td mat-cell *matCellDef="let row">{{ row[col.key] }}</td>
    </ng-container>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
